B2BGateway/local/B2BGateway/payBill/payBill.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SmlDoPaymentWS" targetNamespace="http://www.scb.com.vn/billpayment/sml" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.scb.com.vn/billpayment/sml" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.scb.com.vn/billpayment/sml">
			<xsd:element name="payBillRequest">
				<xsd:complexType>
					<xsd:sequence>
						<!--Số thẻ hoặc số tài khoản của khách hàng. Chỉ bao gồm các kí tự số từ 0-9, các kí tự a-z hoặc A-Z-->
						<xsd:element name="PrimaryAccountNumber" type="xsd:string"/>			
						<xsd:element name="TransactionAmount" type="xsd:string"/>	
						<!--Thời gian và ngày tháng giao dịch (MMddHHmmss). Chỉ bao gồm 10 ký tự số 0-9-->
						<xsd:element name="TransmissionDateTime" type="xsd:string"/>			
						<!--Số lưu vết hệ thống. Chỉ bao gồm 6 ký tự số 0-9. Duy nhất trong khoảng thời gian 24h-->			
						<xsd:element name="AuditNumber" type="xsd:string"/>			
						<!--Loai dai ly: 6011 (ATM), 6012 (POS), 7399 (EBANK)-->
						<xsd:element name="MerchantType" type="xsd:string"/>	
						<!--Ma thiet bi, 8 ky tu-->
						<xsd:element name="TermId" type="xsd:string"/>	
						<!--Tên vị trí chấp nhận thẻ. Chỉ gồm 40 ký tự số từ 0-9, các kí tự a-z hoặc A-Z, khoảng trắng-->
						<xsd:element name="CardAcceptorName" type="xsd:string"/>			
						<!--Ma dich vu nha cung cap cua SML-->
						<xsd:element name="ServiceCode" type="xsd:string"/>
						<!--Ma hoa don, so dien thoai, tai khoan game-->
						<xsd:element name="BillId" type="xsd:string"/>
						<xsd:element name="AdditionalInformation" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	  
			<xsd:element name="payBillResponse">
				<xsd:complexType>
					<xsd:sequence>			
						<!--Mã trả về. Tham chiếu bảng mã-->
						<xsd:element name="ResponseCode" type="xsd:string"/>					
						<!--Trả lời xác nhận cấp phép. Chỉ bao gồm 6 kí tự số từ 0-9, cáckí tự a-z hoặc A-Z-->
						<xsd:element name="AuthorizationCode" type="xsd:string"/>	
						<!--Dữ liệu bổ sung. Tên thông tin chủ thẻ-->
						<xsd:element name="AdditionalInformation" type="xsd:string"/>
						<xsd:element name="Payload" type="tns:PayloadType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>  
			<xsd:complexType name="PayloadType">
				<xsd:sequence>
					<xsd:element name="RequestData" type="xsd:string"/>
					<xsd:element name="ResponseData" type="xsd:string"/>					
				</xsd:sequence>
			</xsd:complexType>	  
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="payBillRequest">
		<wsdl:part element="tns:payBillRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="payBillResponse">
		<wsdl:part element="tns:payBillResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="SmlpayBill">
		<wsdl:operation name="payBill">
			<wsdl:input message="tns:payBillRequest"/>
			<wsdl:output message="tns:payBillResponse"/>
		</wsdl:operation>	
	</wsdl:portType>
	<wsdl:binding name="SmlpayBill" type="tns:SmlpayBill">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="payBill">
			<soap:operation soapAction="tns:payBill"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmlpayBill">
		<wsdl:port binding="tns:SmlpayBill" name="SmlpayBill">
			<soap:address location="https://datapower.scb.com.vn:8100/billpayment/sml/payBill"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>